<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Global Study Center</title>
  <!-- -----------------animate div on scroll--------------- -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- --------------------css------------------- -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/responsive.css">
  <!-- --bootstrap--- -->
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <!-- -------------------google fonts----------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- -----------------------font-awesome------------------- -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>
  <!-- ================================NAVIGATION============================ -->

<div class="curr_landing_page">
    <nav id="Currnav">
      <h2>Admin Dashboard</h2>
      <div class="navbar" id="navbar">
        <i class="fa-solid fa-xmark close" onclick="hideMenu()"></i>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://cloud.mongodb.com/v2/665df2b7d842ee25797f8c02#/metrics/replicaSet/665df3035b502e516d7287f2/explorer/GSC/notices/find" target="_blank">View Database</a></li>
          <li><a href="/register">+ New Register</a></li>
          <li class="active"><a href="/logout">Logout -> </a></li>
        </ul>
      </div>
      <i class="fa-solid fa-bars menu" onclick="showMenu()"></i>
    </nav>
</div>

<!-- ===============================Main Page Code================================= -->

<div class="admin_container">

  <h2>Create Notice</h2>
  <form action="/notice" method="post">
    <input type="text" name="Nhead" placeholder="Notice Heading Goes Here....." required>
    <input type="text" name="Nbody" placeholder="Notice Body Goes Here....." required>
    <input type="submit" value="Create Notice">
  </form>

  <hr>

  <h2>Create Study Materials</h2>
  <form action="/materials" method="post">
    <input type="text" name="Shead" placeholder="Notice Heading Goes Here....." required>
    <input type="text" name="SmatLink" placeholder="Google Drive Link Goes Here" required>
    <input type="text" name="Sbody" placeholder="Notice Body Goes Here....." required>
    <input type="submit" value="Create Study Materials">
  </form>

</div>



<!-- =====================================Ending The Code=============================== -->

<script src="/javascripts/script.js"></script>
<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>