<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - Global Study Center</title>
    <!-- ---------------------Linking Css--------------------- -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- ----------------------------Google Fonts--------------------- -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <!-- ------------------------font awesome------------------------ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<!-- -----------------------------Registration Form------------------------- -->

<section id="CurriculumRegister">
    <div id="text_info_web" class="currWebInfo">
      <h1>Admin Login Page</h1>
      <p>Please Fill Correct Informations to visit admin dashboard page
      </p>
    </div>

    <div class="contact_page">
      <form action="/admin" method="POST" class="currInput">

        <input type="text" name="username" placeholder="Enter Username" autocomplete="off">
        <input type="password" name="password" placeholder="Enter Password" autocomplete="off">
        <input type="submit" value="Login Now">

      </form>
    </div>
</section>

    <script src="/javascripts/script.js"></script>
</body>
</html>